<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    Начать чат<br>
    {% for user in users %}
        <form method="POST">
            {% csrf_token %}
                <form action="" method="post">
                    <button name="user_pk" value={{ user.pk }}>{{ user.first_name|linebreaksbr  }}</button>
                </form>
        </form>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
</body>
</html>
