name: Main Repository Dispatch

#on:
#  pull_request:
#    branches:
#      - develop
#    types:
#      - closed

on:
  push:
    branches:
      - workflow_2

jobs:
  send_dispatch:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2.1.1
        with:
          token: ${{ secrets.DISPATCH_HOOK_TOKEN }}
          repository: photo-booking/photo_booking_full
          event-type: pull_request_closed_develop